* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(167, 173, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgb(248, 230, 208);
    margin: 50px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left_side {
    position: relative;
    background: rgb(12, 77, 138);
    padding: 20px;
}

/* PROFILE*/
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    border-bottom: 1.5px solid rgb(51, 51, 51);
}

.imgProfile {
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #29292c;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: antiquewhite;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.profileText span {
    font-size: 0.8em;
    font-weight: 250;
}

/* PERSONAL INFORMATION*/
.title {
    color: rgb(250, 198, 129);
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.text {
    color: antiquewhite;
    font-weight: 200;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
}

#name {
    color: rgb(250, 198, 129);
}

.list {
    position: relative;
    margin: 10px 0;
    list-style: none;
}

.contactInfo ul li .icon {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 15px;
    font-size: 15px;
    color: rgb(168, 160, 45);
}

.contactInfo ul li span,
a {
    color: #fff;
    font-weight: 200;
}

.courses li {
    margin-bottom: 15px;
    list-style: none;
}

.courses li h4 {
    font-weight: 200;
    color: #fff;
}

.dates {
    color: rgb(226, 161, 131);
    font-weight: 700;
}

.percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #272626;
    display: block;
    margin-top: 10 px;
}

.percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #c29e26;
}

.courses li p:nth-child(2) {
    color: #d8b02b;
    font-weight: 100;
    margin-top: 3px;
    font-size: 14px;
}

.right_side {
    position: relative;
    background: rgb(248, 248, 237);
    padding: 40px;
}

.title2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
}

#profile-p {
    text-align: justify;
    color: #333;
}

.box {
    display: flex;
    flex-direction: row;
    /* margin: 20px 0; */
}

.text-link2 {
    font-size: 14px;
}

.position {
    min-width: 188px;
    margin-bottom: 10px;
}

.box .position h5 {
    color: darkgrey;
    text-transform: uppercase;
    font-weight: 600;
}

.contactEducation .box .position h5 {
    color: rgb(52, 53, 48);
    text-transform: uppercase;
    font-weight: 600;
}

.link {
    color: #272626;
}

.text2 h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 14px;
    margin-bottom: 2px;
}

.text22 {
    font-size: 13px;
}

.box .text2 span {
    font-size: 12px;
    color: #1b495f;
    letter-spacing: 1px;
}

.skills ul {
    color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: 600;
    margin: 20px 0;
    letter-spacing: 1px;
}

#email-link {
    cursor: pointer;
    text-decoration: underline;
}

.hoverOverMe {
    margin-bottom: 20px;
    text-align: center;
}

.hoverOverMe:hover {
    font-size: large;
}

.copyright {
    font-family: "Catamaran";
    position: absolute;
    font-size: 12px;
    bottom: 1px;
    right: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(102, 101, 101);
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .skills ul {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 600px) {
    .work-experience .box {
        flex-direction: column;
    }

    .work-experience .box .position {
        margin-bottom: 5px;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
    }

    .skills ul {
        grid-template-columns: repeat(5, 2fr);
    }
}
